main{
  background-image: url('../img/background_dark_0.5.webp');
  background-size: cover;
  background-position: center;
}

.div__p{
  text-align: justify;
}

.header__bg-image {
  background-image: url('../img/img_goldorak_dark_02.webp');
  background-size: cover;
  background-position: center;
  height: 300px;
}

/**********************************/
/* Barre de navigation */
/**********************************/
.navbar-nav{
  background-color: rgb(10, 10, 10, 0.75);
}

.nav-item{
  background-color: rgb(10, 10, 10, 0.75);
  border: 2px solid rgb(0, 123, 255);
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
  margin: 0px 1px 2px 0px;
  width: 130px;
  text-align:center;
}

.nav-item:hover{
  background-color: rgb(0, 123, 255);
}

/**********************************/
/* sous menu du bouton Evénements */
/**********************************/
.dropdown-menu{
  background-color: transparent;
}

.dropdown-item{
  background-color: rgb(99, 99, 99, 1);
  border: 2px solid rgb(0, 123, 255);
  border-radius: 5px;
  padding: auto;
  margin: 0px 1px 2px 0px;
  width: 130px;
  text-align:left;
}

.dropdown-item:hover{
  background-color: orangered;
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS SUPERIEURs A 460px---------------------------*/
/*-----------------------------------------------------------------------*/
  
@media screen and (min-width: 768px){
  .img__icone{
    width: 100px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS SUPERIEURs A 990px---------------------------*/
/*-----------------------------------------------------------------------*/
  
@media screen and (min-width: 990px){
  .img__icone{
    width: 150px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS SUPERIEURs A 1200px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (min-width: 1200px){
  .img__icone{
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 768px---------------------------*/
/*-----------------------------------------------------------------------*/
  
@media screen and (max-width: 768px){
  .img__icone{
    width: 0px;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 990px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (max-width: 990px){
  .my__iframe{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 990px){
  .my__iframe2, .my__iframe3{
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 350px---------------------------*/
/*-----------------------------------------------------------------------*/
  
@media screen and (max-width: 350px){
  .my__iframe2, .my__iframe3{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}