html{
  font-family:Verdana, Tahoma, sans-serif; /*'Times New Roman', Times, sans-serif;*/
  font-size: 62.5%;  /*62.5% = 10px.*/
}

body, p, h5, h6, .btn,
.accordion-button,
.form-select, .form-text{
  font-size: 1.6rem;
}

h1{
  font-size: 3.2rem;
}

h2, legend{
  font-size: 2.4rem;
}

h3{
  font-size: 1.8rem;
}

h4{
  font-size: 1.7rem;
}

main{
  background-image: url('../img/background/background_dark_0.5.webp');
  background-size: cover;
  background-position: center;
}

header{
  background-image: url('../img/baniere/img_goldorak_dark_02.webp');
  background-size: cover;
  background-position: center;
  height: 300px;
}

/**********************************/
/* Barre de navigation */
/**********************************/
.navbar-nav{
  background-color: rgb(10, 10, 10, 0.75);
}

.nav-item{
  background-color: rgb(10, 10, 10, 0.75);
  border: 2px solid rgb(0, 123, 255);
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 160px;
  text-align:left;
}

.nav-item:hover{
  background-color: rgb(0, 123, 255);
  color: white;
}

.navbar-toggler-icon {
  font-size: 2.5rem;
}

/**********************************/
/* sous menu */
/**********************************/
.dropdown-menu{
  background-color: transparent;
}

.dropdown-item{
  background-color: rgb(99, 99, 99, 1);
  border: 2px solid rgb(0, 123, 255);
  border-radius: 5px;
  padding: auto;
  margin: 0px 0px 0px 0px;
  width: 180px;
  text-align:left;
  font-size: 1.6rem;
}

.dropdown-item:hover{
  background-color: orangered;
}

input, textarea{
  border: none;
  width: 100%;
  font-size: 1.6rem;  
}

/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS SUPERIEURs A 460px---------------------------*/
/*-----------------------------------------------------------------------*/
  
@media screen and (min-width: 460px){

  .my_iframe{
    width:450px;
    height:250px;
    padding: 0 0 10px 0;
    margin: 0;
  }
}
  
/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 465px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (max-width: 465px) {
  .my_iframe {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
  }
}
